<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="stylesheet" th:href="@{/css/admin/font.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    <link rel="stylesheet" th:href="@{/css/admin/dash-board.css}">
</head>
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">비밀번호 찾기</h1>
                                        <p class="mb-4">아래의 이메일을 입력하시면 
                                            비밀번호 초기화 후 임시 비밀번호를 보내드립니다.
                                            </p>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="이메일 주소..">
                                        </div>
                                        <a href="login.html" class="btn btn-primary btn-user btn-block">
                                            비밀번호 초기화
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="join.html">계정 만들기!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="login.html">이미 계정이 있으신가요? 로그인하러 가기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
</html>