<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" th:href="@{/css/admin/dash-board.css}">
    <link rel="stylesheet" th:href="@{/css/admin/register.css}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" defer></script>
	<script th:src="@{/js/admin/side-bar.js}" defer></script>
    <script th:src="@{/js/admin/register.js}" defer></script>
	<script th:src="@{/js/admin/user.js}"></script>
	<title>AdminSite</title>
</head>
<body id="header">

<!-- SIDEBAR -->
<section id="sidebar" th:replace="~{/admin/sidebar :: sidebar}"></section>
<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
					<input type="text" placeholder="검색어 입력...">
					<i class='bx bx-search icon' ></i>
				</div>
			</form>
			<a href="#" class="nav-link">
				<i class='bx bxs-bell icon' ></i>
				<span class="badge">5</span>
			</a>
			<a href="#" class="nav-link">
				<i class='bx bxs-message-square-dots icon' ></i>
				<span class="badge">8</span>
			</a>
			<span class="divider"></span>
			<div class="profile">
					<li class="logout"><a th:href="@{/admin/logout}">로그아웃</a></li>
				<!-- </ul> -->
			</div>
		</nav>
		<!-- NAVBAR -->

	<div class="order-user">
		<div style="padding:20px;"> </div>  

		<h1>주문 관리 페이지</h1>

 	 	<table id="orderTable">
		<thead>
		<tr>
			<th>주문 번호</th>
			<th>회원 ID</th>
			<th>상품</th>
			<th>수량</th>
			<th>금액</th>
			<th>주문 일시</th>
        	<th>배송 상태</th>
      	</tr>
    	</thead>
    	<tbody>
      <!-- 여기에 주문 정보가 동적으로 추가될 것입니다. -->
    	</tbody>
	  </table>
	</div>
		<!-- MAIN -->


	</section>
	<!-- NAVBAR -->

	
</body>
</html>