<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.upcycling.domain.dto.UserDto" alias="userDto"></typeAlias>


        <typeAlias type="com.example.upcycling.domain.vo.MypageInquiryVo" alias="mypageInquiryVo"></typeAlias>
        <typeAlias type="com.example.upcycling.domain.vo.UserModifyVo" alias="userModifyVo"></typeAlias>
        <typeAlias type="com.example.upcycling.domain.vo.MypageInquiryDetailsVo" alias="mypageInquiryDetailsVo"></typeAlias>
        <typeAlias type="com.example.upcycling.domain.dto.SavedMoneyDto" alias="savedMoneyDto"></typeAlias>
    </typeAliases>
</configuration>