<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@../css/font.css" />
    <link rel="stylesheet" href="../css/default.css" />
    <link rel="stylesheet" href="../css/community.css" />
  </head>
  <body>
    <header></header>
    <main>
      <div class="content-wrap">
        <section class="slide">
          <div class="slide__arrow-l">
            <img src="../imgs/arrow-l.png" alt="" />
          </div>
          <div class="slide__arrow-r">
            <img src="../imgs/arrow-r.png" alt="" />
          </div>
          <div class="slide__video-box">
            <div class="slide__moving-box">
              <article>
                <iframe
                  width="600"
                  height="420"
                  src="https://www.youtube.com/embed/7kIXYSd0aJU"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </article>

              <article>
                <iframe
                  width="600"
                  height="420"
                  src="https://www.youtube.com/embed/HjbAsfBEqD4"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </article>

              <article>
                <iframe
                  width="600"
                  height="420"
                  src="https://www.youtube.com/embed/7kIXYSd0aJU"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </article>

              <article>
                <iframe
                  width="600"
                  height="420"
                  src="https://www.youtube.com/embed/HjbAsfBEqD4"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </article>
            </div>
          </div>
        </section>

        <section class="list">
          <div class="list__table-box">
            <table class="list__table">
              <colgroup>
                <col width="5%" />
                <col width="" />
                <col width="10%" />
                <col width="15%" />
                <col width="5%" />
              </colgroup>
              <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                  <th>조회</th>
                </tr>
              </thead>
              <tbody>
                <!-- 반복요소 -->
                <tr>
                  <td>111</td>
                  <td>안녕하세요</td>
                  <td>김철수</td>
                  <td>2022-01-02</td>
                  <td>10</td>
                </tr>
                <!-- /반복요소 -->

                <!-- 샘플 -->
                <tr>
                  <td>111</td>
                  <td>안녕하세요</td>
                  <td>김철수</td>
                  <td>2022-01-02</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>111</td>
                  <td>안녕하세요</td>
                  <td>김철수</td>
                  <td>2022-01-02</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>111</td>
                  <td>안녕하세요</td>
                  <td>김철수</td>
                  <td>2022-01-02</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>111</td>
                  <td>안녕하세요</td>
                  <td>김철수</td>
                  <td>2022-01-02</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>111</td>
                  <td>안녕하세요</td>
                  <td>김철수</td>
                  <td>2022-01-02</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>111</td>
                  <td>안녕하세요</td>
                  <td>김철수</td>
                  <td>2022-01-02</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>111</td>
                  <td>안녕하세요</td>
                  <td>김철수</td>
                  <td>2022-01-02</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>111</td>
                  <td>안녕하세요</td>
                  <td>김철수</td>
                  <td>2022-01-02</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>111</td>
                  <td>안녕하세요</td>
                  <td>김철수</td>
                  <td>2022-01-02</td>
                  <td>10</td>
                </tr>
                <!-- /샘플 -->
              </tbody>
            </table>
          </div>
        </section>
        <section class="page">
          <div class="page__button-box">
            <div class="page__button">
              <a href="#">&lt</a>
            </div>
            <div class="page__button">
              <a href="#" class="active">1</a>
            </div>
            <div class="page__button">
              <a href="#">2</a>
            </div>
            <div class="page__button">
              <a href="#">3</a>
            </div>
            <div class="page__button">
              <a href="#">4</a>
            </div>
            <div class="page__button">
              <a href="#">5</a>
            </div>
            <div class="page__button">
              <a href="#">6</a>
            </div>
            <div class="page__button">
              <a href="#">7</a>
            </div>
            <div class="page__button">
              <a href="#">8</a>
            </div>
            <div class="page__button">
              <a href="#">9</a>
            </div>
            <div class="page__button">
              <a href="#">10</a>
            </div>
            <div class="page__button">
              <a href="#">&gt</a>
            </div>
          </div>
        </section>
        <section class="write-btn">
          <div class="write-btn__button">
            <a href="#">글쓰기</a>
          </div>
        </section>
      </div>
    </main>
    <footer></footer>

    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="../js/community.js"></script>
  </body>
</html>
