<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../../../../../../../../WEB/work/detail/css/font.css">
    <link rel="stylesheet" href="../../../../../../../../WEB/work/detail/css/detail.css">
</head>
<body>
    <div class="content-wrap ">
        <section class="title" >
            <div class="title__main">
                <div class="img-box">
                    <img src="../../../../../../../../WEB/work/detail/IMG/진짜상세아이콘.png" alt="" class="title__img">
                </div>
                <div>
                    <div class="title__input"> 누군가의 게시판 제목</div> 
                </div>
            </div>
        </section>
        <div class="text-box">
           <form action=""> 
                <div class="content">
                    누군가의 게시판 내용
                </div>
            </form>
        </div>
        <div class="foooter">
            <div class="foooter__user">
                <div class="foooter__content">
                    <section class="foooter__user">
                       <div class="foooter__inf">
                            <div class="foooter__name">
                                댓글
                            </div>
                            <textarea class="foooter__text" placeholder="작성할 댓글을 적어주세요"></textarea>
                            </div>
                            <form action="" class="foooter__button">
                                <button>작 성</button>
                            </form>
                        </div>
                   </section> 
                </div>    
            <div>
        </div>
    </div>
</body>
</html>