<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/community/write.css}" />
    <link rel="stylesheet" th:href="@{/css/common/default.css}" />
    <link rel="stylesheet" th:href="@{/css/common/font.css}" />
    <title>Document</title>
</head>
<body>
    <main>
        <form th:action="@{/community/write}" method="post">
        <div class="content-wrap">
                <section class="title" >
                    <div class="title__main">
                        <div class="pencil-box">
                             <img th:src="@{/images/community/bluePencil.png}" alt=""
                                 class="title__img">
                        </div>
                        <div class="title-box">
                            <div class="title__title">
                                제목
                            </div>
                        </div>
                        <div>
                            <input name="communityTitle" type="text" class="title__input"  placeholder="글의 제목을 입력하세요">
                        </div>
                    </div>
                </section>
                <div class="text-box">
                    <div class="attachment">
                        <div class="attachment__box">
                            <section class="attachment__button">
                                <div class="attachment__button-box">
                                        <label for="attachment-file">첨부파일</label>
                                        <input type="file" name="" id="attachment-file">
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="textarea">
                        <div class="textarea__box">
                            <textarea name="communityContent" placeholder="글의 내용을 입력하세요" class="textarea__text"></textarea>
                        </div>
                    </div>
                </div>
            <div class="foooter">
                <div class="foooter__button">
                    <div class="foooter__box">
                        <div class="foooter__ok">
                            <button >작성완료</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </main>
</body>
</html>