<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/inquiry.css" />
    <link rel="stylesheet" href="../css/default.css" />
  </head>
  <body>
    <div>
      <header></header>

      <!-- 1 : 1 문의 내역 -->

      <main>
        <div class="main__mypage">
          <!-- 마이페이지 메뉴 리스트 -->
          <section class="main__menu">
            <ul class="mypage_list">
              <li class="li_list">
                <a href="" class="li_list_a">주문 조회</a>
              </li>
              <li class="li_list">
                <a href="" class="li_list_a">교환/반품</a>
              </li>
              <li class="li_list">
                <a href="" class="li_list_a">적립금</a>
              </li>
              <li class="li_list">
                <a href="" class="li_list_a">1:1문의</a>
              </li>
              <li class="li_list">
                <button class="btn_open_modal">회원수정</button>
              </li>
              <li class="li_list">
                <button class="btn_open_elimination">회원탈퇴</button>
              </li>
            </ul>
          </section>
          <!-- 마이페이지 메뉴 리스트 -->

          <section class="main__section">
            <!-- 회원 정보 박스 -->
            <div class="main__top">
              <article class="member_box">
                <div class="member_box_img">
                  <a href=""
                    ><img
                      src="../../../../../../../../web/html_workspace/mypage/img/user_img.png"
                      class="member_box_img_a"
                      alt=""
                  /></a>
                </div>

                <div class="member_information">
                  <div class="member_information_name">
                    신동억 님 안녕하세요
                  </div>
                  <div class="member_information_accumulated_amount">
                    누적 구매금액 : 0 원
                  </div>
                </div>

                <div class="saved_money">
                  <div class="saved_money_name">
                    <a href="" class="saved_money_name_a">적립금</a>
                  </div>
                  <div class="saved_money_amount">
                    <a href="" class="saved_money_amount_a">5,000</a>
                  </div>
                </div>
              </article>
            </div>
            <!-- 회원 정보 박스 -->

            <!-- 1 : 1 문의내역 -->
            <div class="order__details">
              <h4 class="order__data">1 : 1문의내역</h4>
            </div>

            <div class="main__order">등록된문의가 없습니다.</div>

            <div class="inquiry_title_box">
              <div class="list_title__01">상담 구분</div>
              <div class="list_title__02">상담 제목</div>
              <div class="list_title__01">작성 일</div>
              <div class="list_title__01">답변 유무</div>
              <div class="list_title__01">비고</div>
            </div>

            <div class="inquiry_box">
              <div class="list__01">기타 문의</div>
              <div class="list__02">가방불량</div>
              <div class="list__01">2024-00-00</div>
              <div class="list__01">YES</div>
              <div class="list__01">비고</div>
            </div>
            <!-- 1 : 1 문의내역 -->

            <!-- 문의 작성 번호 -->
            <div class="inquiry_btn">
              <button class="btn">문의 작성</button>
            </div>
          </section>

          <!-- 회원 수정 모달창=================================================================== -->
          <div class="modal">
            <div class="modal_body">
              <div class="close_box">
                <button class="close" id="close_btn">
                  <img src="../../../../../../../../web/html_workspace/mypage/img/close_button.png" class="close_img" alt="" />
                </button>
              </div>
              <!-- 회원수정 -->
              <form action="" class="form_modify">
                <section class="member_modify_box">
                  <h2 class="modify__h2">정보 수정</h2>
                  <figure class="member_img_box">
                    <img src="../../../../../../../../web/html_workspace/mypage/img/user_img.png" class="img_box" alt="" />
                    <figcaption class="figcaption">
                      <label for="file_01" class="camera_btn">
                        <div class="camera_background">
                          <img src="../../../../../../../../web/html_workspace/mypage/img/camera.png" class="btn_box" alt="" />
                        </div>
                      </label>

                      <input type="file" id="file_01" />
                    </figcaption>
                  </figure>
                </section>
                <!-- 비밀번호 -->
                <div class="input_box">
                  <input
                    type="text"
                    class="member_id"
                    placeholder="tlsehddjr1231"
                    disabled
                  />
                  <input
                    type="text"
                    class="member_input_01"
                    placeholder="•••••••"
                  />
                  <input
                    type="text"
                    class="member_input_01"
                    placeholder="비밀번호 변경 하는 경우입력하세요"
                  />
                  <input
                    type="text"
                    class="member_input_01"
                    placeholder="비밀번호 확인"
                  />
                </div>

                <!-- 이메일 -->
                <div class="input_box">
                  <div class="text_title">
                    <p class="text_title_content">이메일</p>
                    <div class="i_img_box">
                      <img src="../../../../../../../../web/html_workspace/mypage/img/point.png" class="point_point" alt="" />
                    </div>
                  </div>
                  <input type="text" class="member_input" />
                </div>

                <div class="input_box">
                  <div class="text_title">
                    <p class="text_title_content">이름</p>
                    <div class="i_img_box">
                      <img src="../../../../../../../../web/html_workspace/mypage/img/point.png" class="point_point" alt="" />
                    </div>
                  </div>
                  <input type="text" class="member_input" />
                </div>

                <div class="input_box">
                  <div class="text_title">
                    <p class="text_title_content">연락처</p>
                    <div class="i_img_box">
                      <img src="../../../../../../../../web/html_workspace/mypage/img/point.png" class="point_point" alt="" />
                    </div>
                  </div>
                  <input type="text" class="member_input" />
                </div>

                <div class="input_box">
                  <div class="text_title">
                    <p class="text_title_content">주소</p>
                    <div class="i_img_box">
                      <img src="../../../../../../../../web/html_workspace/mypage/img/point.png" class="point_point" alt="" />
                    </div>
                  </div>
                  <input type="text" class="member_input" />
                  <input type="text" class="member_input_01" />
                </div>

                <div class="input_box">
                  <div class="text_title">
                    <p class="text_title_content">생년월일</p>
                    <div class="i_img_box">
                      <img src="../../../../../../../../web/html_workspace/mypage/img/point.png" class="point_point" alt="" />
                    </div>
                  </div>
                  <div>
                    <select name="yy" id="year"></select>
                    <select name="mm" id="month"></select>
                    <select name="dd" id="day"></select>
                  </div>
                </div>

                <button class="btn_modify">확인</button>
              </form>
            </div>
          </div>
          <!-- 회원 탈퇴 모달창=================================================================== -->
          <div class="modify__modal_bg">
            <div class="modify__modal_box">
              <h2 class="h2">회원탈퇴</h2>
              <form action="">
                <ul class="ul__box">
                  <li>😊 가입된 회원정보가 모두 삭제됩니다.</li>
                  <li>😊 작성하신 게시물은 삭제되지 않습니다.</li>
                  <li>
                    😊 탈퇴 후 같은 계정으로 재가입 시 기존에 가지고 있던
                    적립금은 복원되지 않으며, 사용 및 다운로드했던 쿠폰도 사용
                    불가능합니다.
                  </li>
                  <li>😊 회원 탈퇴를 진행하시겠습니까?</li>
                  <br />
                </ul>
                <div class="btn__box">
                  <button class="close_01" id="close_btn" class="">취소</button>
                  <button class="delete_btn">탈퇴하기</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>

      <footer></footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="../script/modal.js"></script>
    <script src="../script/elimination.js"></script>
  </body>
</html>
