<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/mypage/savedmoney.css}" />
    <link rel="stylesheet" th:href="@{/css/mypage/default.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
  </head>
  <body>
    <div>
      <header th:replace="~{/fragments/header :: header}"></header>

      <!-- 적립금 페이지 -->

      <main>
        <div class="main__mypage">
          <!-- 마이페이지 메뉴 리스트 -->
          <section class="mypage__menu_box">
            <ul class="menu__list">
              <li class="menu__li">
                <a href="" class="menu__a" th:href="@{/mypage/orderinquiry}">주문 조회</a>
              </li>
              <li class="menu__li">
                <a href="" class="menu__a" th:href="@{/mypage/exchange}">교환/반품</a>
              </li>
              <li class="menu__li"><a href="" class="menu__a" th:href="@{/mypage/savedmoney}">적립금</a></li>
              <li class="menu__li"><a href="" class="menu__a" th:href="@{/mypage/inquiry}">1:1문의</a></li>
              <li class="menu__li">
                <button class="btn_open_modal">회원수정</button>
              </li>
              <li class="menu__li"><button class="btn_open_elimination">회원탈퇴</button></li>
            </ul>
          </section>
          <!-- 마이페이지 메뉴리스트 -->

          <section class="mypage__my_box">
            <!-- 회원정보 박스 -->
            <div class="member__information_box">
              <article class="member__box">
                <!-- 회원 이미지 박스 -->
                <div class="member__img_box">
                  <a href=""
                    ><img th:src="${'/upload/' + user.userProfileUploadPath + '/' + user.userProfileUuid + '_' + user.userProfileName}" class="member__img" alt=""
                  /></a>
                </div>
                <!-- 회원 이미지 박스 -->

                <!-- 회원이름 및 누적 금액 -->
                <div class="member__name_money_box">
                  <div class="member__information_name" th:text="${user.userName} + ' 님 안녕하세요'">
                  </div>
                </div>
                <!-- 회원이름 및 누적 금액 -->

                <!-- 적립금표시 박스 -->
                <div class="saved__money_box">
                  <div class="saved__money_name">
                    <a href="" class="saved__a" th:href="@{/mypage/savedmoney(userNumber=${user.userNumber})}">적립금</a>
                  </div>
                  <div class="saved__money_amount">
                    <a href="" class="saved_money_amount_a" th:text="${user.userPoint}" th:href="@{/mypage/savedmoney(userNumber=${user.userNumber})}"></a>
                  </div>
                </div>
                <!-- 적립금표시 박스 -->
              </article>
            </div>
            <!-- 회원정보 박스 -->

            <!-- 적림금 내역! -->
            <div class="order__details">
              <h4 class="order__data">적립금 내역</h4>
            </div>

            <div class="main__order" th:if="${!#lists.isEmpty(listSavedMoney)}">적립금 내역이 없습니다.</div>

            <div class="saved_title_box">
              <div class="list_title__01">날짜</div>
              <div class="list_title__01">내용</div>
              <div class="list_title__01">금액</div>
            </div>

            <div class="saved_box" th:each="savedMoneyDto : ${savedMoney}" th:if="${#lists.isEmpty(listSavedMoney)}">
              <div class="list__01" th:text="${savedMoneyDto.savedMoneyDate}"></div>
              <div class="list__01" th:text="${savedMoneyDto.savedMoneyContent}"></div>
              <div class="list__01"><p class="p_moeny" th:text="${savedMoneyDto.savedMoneyAmount} + ' 원'"></p></div>
            </div>

            <!-- 적림금 내역! -->
          </section>

          <!-- 회원 수정 모달창=================================================================== -->
          <div class="modal">
            <div class="modal_body">
              <div class="close_box">
                <button class="close" id="close_btn">
                  <img th:src="@{/images/mypage/close_button.png}" class="close_img" alt="" />
                </button>
              </div>
              <!-- 회원수정 -->
              <form action="" class="form_modify">
                <section class="member_modify_box">
                  <h2 class="modify__h2">정보 수정</h2>
                  <figure class="member_img_box">
                    <img th:src="${'/upload/' + user.userProfileUploadPath + '/' + user.userProfileUuid + '_' + user.userProfileName}" class="img_box" alt="" />
                    <figcaption class="figcaption">
                      <label for="file_01" class="camera_btn">
                        <div class="camera_background">
                          <img th:src="@{/images/mypage/camera.png}" class="btn_box" alt="" />
                        </div>
                      </label>

                      <input type="file" id="file_01" />
                    </figcaption>
                  </figure>
                </section>
                <!-- 비밀번호 -->
                <div class="input_box">
                  <input
                          type="text"
                          class="member_id"
                          disabled
                  />
                  <input
                          type="text"
                          class="member_input_01"
                          placeholder="•••••••"
                          disabled
                  />
                  <input
                          type="text"
                          id="member-pw"
                          class="member_input_01"
                          placeholder="비밀번호 변경 하는 경우입력하세요"
                  />
                  <input
                          type="text"
                          id="member-pw-check"
                          class="member_input_01"
                          placeholder="비밀번호 확인"
                  />
                </div>

                <!-- 이메일 -->
                <div class="input_box">
                  <div class="text_title">
                    <p class="text_title_content">이메일</p>
                    <div class="i_img_box">
                      <img th:src="@{/images/mypage/point.png}" class="point_point" alt="" />
                    </div>
                  </div>
                  <input type="text" class="member_input" id="member-email"/>
                </div>

                <div class="input_box">
                  <div class="text_title">
                    <p class="text_title_content">이름</p>
                    <div class="i_img_box">
                      <img th:src="@{/images/mypage/point.png}" class="point_point" alt="" />
                    </div>
                  </div>
                  <input type="text" class="member_input" id="member-name"/>
                </div>

                <div class="input_box">
                  <div class="text_title">
                    <p class="text_title_content">연락처</p>
                    <div class="i_img_box">
                      <img th:src="@{/images/mypage/point.png}" class="point_point" alt="" />
                    </div>
                  </div>
                  <input type="text" class="member_input" id="member-phone"/>
                </div>

                <div class="input_box">
                  <div class="text_title">
                    <p class="text_title_content">주소</p>
                    <div class="i_img_box">
                      <img th:src="@{/images/mypage/point.png}" class="point_point" alt="" />
                    </div>
                  </div>
                  <input type="text" class="member_input" id="member-address"/>
                  <input type="text" class="member_input_01" id="member-address-detail"/>
                </div>

                <div class="input_box">
                  <div class="text_title">
                    <p class="text_title_content">생년월일</p>
                    <div class="i_img_box">
                      <img th:src="@{/images/mypage/point.png}" class="point_point" alt="" />
                    </div>
                  </div>
                  <div>
                    <select name="yy" id="year" ></select>
                    <select name="mm" id="month" ></select>
                    <select name="dd" id="day" ></select>
                  </div>
                </div>

                <button class="btn_modify">확인</button>
              </form>
            </div>
          </div>


          <!-- 회원 탈퇴 모달창=================================================================== -->
          <div class="modify__modal_bg">
            <div class="modify__modal_box">
              <h2 class="h2">회원탈퇴</h2>
              <form action="">
                <ul class="ul__box">
                  <li>😊 가입된 회원정보가 모두 삭제됩니다.</li>
                  <li>😊 작성하신 게시물은 삭제되지 않습니다.</li>
                  <li>
                    😊 탈퇴 후 같은 계정으로 재가입 시 기존에 가지고 있던
                    적립금은 복원되지 않으며, 사용 및 다운로드했던 쿠폰도 사용
                    불가능합니다.
                  </li>
                  <li>😊 회원 탈퇴를 진행하시겠습니까?</li>
                  <br />
                </ul>
                <div class="btn__box">
                  <button class="close_01" id="close_btn" type="button" >취소</button>
                  <button class="delete_btn">탈퇴하기</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>

      <footer th:replace="~{/fragments/footer :: footer}"></footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script th:src="@{/js/mypage/modal.js}"></script>
    <script th:src="@{/js/mypage/elimination.js}"></script>
  </body>
</html>
