<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/common/default.css}" />
    <link rel="stylesheet" th:href="@{/css/common/font.css}" />
    <link rel="stylesheet" th:href="@{/css/news/detail.css}" />
</head>
<body>
    <div class="content-wrap">
        <section class="news">
                <div class="news__title">NEWS</div>
        </section>
        <div class="grid">
                <div class="grid__line"></div>
        </div>
        <div class="header-box">
            <div class="header-line">버려지는 음식이 없는 세상을 꿈꾸다,업싸이클링샵</div>
            <div class="header-line__box"> 
                <div class="header-line__icon">
                    <img th:src="@{/images/news/userIcon.png}" alt="">
                    <div class="admin">관리자</div>
                </div>
            </div>
            <hr>
        </div>
        <div class="content">
            <img th:src="@{/images/news/person.PNG}" alt="">
        </div>
        <div class="foooter">
            <div class="foooter__user">
                <div class="foooter__content">
                    <section class="foooter__user">
                        <div class="foooter__name">
                            댓글
                        </div>
                       <div class="foooter__inf">
                        <textarea class="foooter__text" placeholder="작성할 댓글을 적어주세요"></textarea>
                        </div>
                        <form action="" class="foooter__button">
                            <button>작 성</button>
                        </form>
                   </section> 
                </div>    
            <div>
        </div>
    </div>
</body>
</html>