@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin : 0;
    padding: 0;
    font-family: 'GmarketSansMedium';

}

ul, li{
    list-style: none;
    /* 못생긴 동글뱅이들 제거 */
}

a{
    text-decoration: none;
    /* 말도 안되는 이상한 데코(밑줄 등) 제거 */

}

.header__upcycling__header{
    background-color:rgb(100, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 1519.200px;*/
    height: 80px;
    /* 헤더의 디폴트값 */
}


header__header{
    background-color:rgb(100, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1519.200px;
    height: 80px;
    /* 밑의 메뉴들을 모두 감싸는 친구 */
}

header__header{
    position: sticky;
    top : 0;
    /* 헤더를 위쪽에 껌마냥 붙어있게 하는거 */
}

.header__header__entire{
    /* background-color: chartreuse; */
    width: 1519.200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__header__logo-box1{
    position: relative;
    right: 150px;
    /* background-color: brown; */
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#header__logo{
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    /* 로고 */
}

#header__logo > a{
    color: aliceblue;
}

.header__header__main-menu1{
    width: 700px;
    /* border: 10px solid red; */
    display: inline-block;
    position: relative;
    right: 50px;

}

.header__header__main-menu1 > ul > li{
    display: inline-block;
    position: relative;



}

.header__header__main-menu1 > ul{
    text-align: center;


}

.header__header__main-menu1 > ul > li > a{
    display: block;
    font-size: 15px;
    padding: 20px 30px;
    color: aliceblue;
    /*메인메뉴*/
    /* 상하의 간격 조절 어케해 */

}

.header__header__main-menu1 > ul ul {
    display: none;
    /* 마우스 올리기 전에는 서브메뉴 숨어있음 */

}

.header__header__main-menu1 > ul > li:hover  > a {
    color:rgb(150,220,220)
    /* 마우스를 올리면 메인메뉴의 색 변함 */
}

.header__header__main-menu1 > ul > li:hover  > ul {
    display: block;
    /* 메인메뉴에 마우스를 올리면 서브메뉴 등장 */
    background-color:aliceblue;
    color:black
;
    border-radius: 5px;

}

.header__header__main-menu1 > ul > li > ul :hover  {
    display: block;
    /* 메인메뉴에 마우스를 올리면 서브메뉴 등장 */
    background-color:aliceblue;
    color:chocolate;
    border-radius: 5px;

}

.header__header__main-menu1 > ul > li > a :hover  {
    color:rgb(150,220,220)
    /* 마우스를 올리면 메인메뉴의 색 변함 */
}


.header__header__main-menu1 > ul > li > ul{
    position: absolute;
    top: 100%;
    width: 100%;
    /* 아 이렇게 하면 넓어지긴 하는데 서브메뉴가 겁나 밀림 나 뭐 아무것도 못하고 어쩌라고 */
    /*부모의 너비를 그대로 받아옴
     너비가 좁아서 서브 메뉴가 잘려서 밑으로 내려감 왼 > 오 로 서브메뉴를 정렬하면 안되는걸까?*/
    /* top : 100% 를 주면 위쪽에 공간을 만들어 부모 엘리먼트 바로 아래에 드롭다운 메뉴를 위치시킬 수 있게된다. */
    /*left: 0px; /*서브메뉴를 메인메뉴 왼쪽 벽에 붙임 아니 이럼 안된다고*/

}



.header__header__user-menubox{
    /* background-color: cornflowerblue; */
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 130px;
    /* 마이페이지 및 로그인 */
}

.header__header__user-menu1{
    display: flex;
}

.header__header__user-menu1 > ul > li > a {
    color: aliceblue;
}

.header__header__user-menu2{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}


.header__header__user-menu2 > li{
    /* background-color: aliceblue; */
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
}

.header__header__user-menu1> ul > li:hover  {
    color:rgb(150,220,220)
}

