@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.loginbox {
  width: 100%;
  height: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginbox__center {
  width: 350px;
}

.login-border {
  font-family: "GmarketSansMedium";
  height: 70px;
  text-align: center;
  line-height: 70px;
  position: relative;
  margin-bottom: 20px;
}

.login-border__l {
  position: absolute;
  top: 50%;
  left: 0px;
  height: 1px;
  width: 130px;
  background-color: #e5e7eb;
}

.login-border__r {
  position: absolute;
  top: 50%;
  right: 0px;
  height: 1px;
  width: 130px;
  background-color: #e5e7eb;
}

.loginbox__form div:nth-child(1) {
  height: 50px;
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  padding: 0.7em;
}

.loginbox__form div:nth-child(2) {
  height: 50px;
  border-bottom: 1px solid #e5e7eb;
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  box-sizing: border-box;
  padding: 0.7em;
}

.loginbox__form div:nth-child(1) input,
.loginbox__form div:nth-child(2) input {
  width: 90%;
  border: none;
  padding: 7px;
}

.loginbox__form div:nth-child(1) input::placeholder,
.loginbox__form div:nth-child(2) input::placeholder {
  font-size: 1.2em;
  font-family: "GmarketSansMedium";
  color: #b1b3b3;
}

.loginbox__form .loginbox__cheak {
  height: 40px;
  position: relative;
  padding-top: 10px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #46aaaa;
  box-sizing: border-box;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
}

input[id="check1"]:checked + label::after {
  content: "✔";
  font-size: 15px;
  color: white;
  background-color: #46aaaa;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  z-index: 80;
  left: 0;
  top: 0;
}

input:focus {
  outline: none;
}

.loginbox__form .loginbox__cheak span {
  position: absolute;
  top: 14%;
  left: 8%;
  font-family: "GmarketSansMedium";
  font-size: 0.9em;
  color: #2b6262;
  border-radius: 7px;
}

.loginbox__button button {
  width: 100%;
  border: 1px solid #96dcdc;
  height: 48px;
  box-sizing: border-box;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
}

.loginbox__button button:hover {
  background-color: #64c8c8;
  border: 1px solid #64c8c8;
  color: white;
}

.loginbox_hr {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  font-size: 0.9em;
  font-family: "GmarketSansMedium";
  color: #647777;
}

.loginbox_hr a {
  font-size: 1em;
  font-family: "GmarketSansMedium";
  color: #647777;
}

.loginbox_hr div:nth-child(1) {
  margin-top: 5px;
}

.loginbox__clickr {
  cursor: pointer;
}

/* model */
.none {
  display: none;
}

.login-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 96;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  /* flex-direction: column;  
  flex-wrap: wrap;
  justify-content: space-between;  
  justify-content: space-around;  
  justify-content: space-evenly; */
}

.login-modal__box {
  position: absolute;
  width: 370px;
  background-color: white;
  z-index: 100;
  top: 15%;
  left: 50%;
  margin-left: -170px;
  border-radius: 5px;
}

.login-modal__row1 {
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 0.7em;
  font-family: "GmarketSansMedium";
  position: relative;
}

.changepw {
  display: none;
}

.box__close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 50%;
  margin-top: -12px;
  color: #e5e7eb;
  font-size: 16px;
  font-family: "GmarketSansMedium";
  font-weight: 100;
  cursor: pointer;
}

.tab_menu {
  overflow: hidden;
  z-index: 99;
  padding: 25px 25px 15px;
  display: flex;
}

.tab_menu li {
  width: 160px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #64c8c8;
  box-sizing: border-box;
  font-family: "GmarketSansMedium";
  font-size: 14px;
  background-color: #f3f3f3;
  color: #b4b4b4;
  cursor: pointer;
}

.tab_menu li:nth-child(1) {
  border-top: 1px solid #64c8c8;
  border-left: 1px solid #64c8c8;
  border-right: 1px solid #64c8c8;
  border-bottom: none;
  font-family: "GmarketSansMedium";
  font-size: 14px;
  background-color: #ffffff;
  color: #64c8c8;
}
.login-modal__tab {
  position: relative;
} 
/* ..login-modal__tabbox {
  position: absolute;
} */

.login-modal__tabbox p {
  font-family: "GmarketSansMedium";
  color: #757575;
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}

.moder-search {
  padding: 0 25px 25px;
}

.search-input2 input,
.search-input4 input,
.search-input5 input, 
.userresult-id input,
.userresult-pw input
{
  height: 30px;
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  padding: 0.7em;
  width: 100%;
  margin-top: 10px;
}


.userresult-id, .userresult-pw{
  display: none;
}


.search-input1 label,
.search-input3 label {
  font-family: "GmarketSansMedium";
  color: #757575;
  font-size: 12px;
}

.search-hr {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 20px;
}

.modelbtn-wrap button {
  width: 100%;
  border: 1px solid #96dcdc;
  height: 40px;
  box-sizing: border-box;
  background-color: white;
  font-size: 0.8em;
  cursor: pointer;
  font-family: "GmarketSansMedium";
  color: #226666;
}

.modelbtn-wrap button:hover {
  background-color: #64c8c8;
  border: 1px solid #64c8c8;
  color: white;
}

.login-modal__tabpw {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 370px;
  background-color: white;

  border-radius: 5px;
}

.login-modal__tabpw div:nth-child(2) {
  margin: 15px 0px 5px;
}
