<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/user/login.css}" />
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
</head>

<body>
<header th:replace="~{/fragments/header :: header}"></header>

<!-- modal-->
<article class="login-modal none">
  <div class="login-modal__box">
    <div class="login-modal__row1">
      <h2 class="changeid">아이디 찾기</h2>
      <h2 class="changepw">비밀번호 찾기</h2>
      <div class="box__close">X</div>
    </div>

    <!-- 아이디 찾기 -->
    <div class="tab_box">
      <ul class="tab_menu">
        <li>아이디 찾기</li>
        <li>비밀번호 찾기</li>
      </ul>

      <div class="login-modal__tab">
        <div class="login-modal__tabbox">
          <p>아이디를 찾을 방법을 선택해주세요.</p>
          <form action="" class="moder-search" method="get">
            <div class="search-hr">
              <div class="search-input1">
                <input
                        type="radio"
                        name="loginModalRadio"
                        checked="checked"
                        id="emailFindRadio"
                        value="이메일찾기"
                />
                <label for="emailFindRadio"> 가입한 이메일로 찾기</label>
              </div>

              <div class="search-input2">
                <input
                        title="아이디찾기"
                        type="text"
                        name="userIdFind"
                        id="userIdFind"
                />
              </div>
            </div>

            <div class="search-hr">
              <div class="search-input3">
                <input
                        type="radio"
                        name="loginModalRadio"
                        id="phoneFindRadio"
                        class="input-radio"
                        value="핸드폰찾기"
                />
                <label for="phoneFindRadio"> 가입한 휴대폰으로 찾기</label>
              </div>

              <div class="search-input4">
                <input
                        title="휴대폰 번호"
                        type="text"
                        name="userPhoneNumberFind"
                        id="userPhoneNumberFind"
                />
              </div>
            </div>
            <div class="modelbtn-wrap">
              <button type="button" id="userFindBtn">아이디 찾기</button>
            </div>

            <!-- 찾기 결과 히든 -->
            <div class="userresult-id">
              아이디를 이메일로 전송했습니다.
            </div>

          </form>
        </div>

        <!-- 비밀번호 찾기 -->
        <div class="login-modal__tabpw">
          <form action="" class="moder-search" method="get">
            <div class="search-input5">
              <label for="userIdFindPw">가입한 아이디
                <input
                        title="가입한 아이디"
                        type="text"
                        name="userIdFindPw"
                        id="userIdFindPw"
                />
              </label>
            </div>

            <div class="modelbtn-wrap">
              <button type="button" id="userFindPwBtn">비밀번호 찾기</button>
            </div>
            <!-- 찾기 결과 히든 -->
            <div class="userresult-pw">
              비밀번호를 이메일로 전송했습니다.
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</article>

<!-- login 화면 -->
<main class="loginbox">
  <div class="loginbox__center">
    <div class="login-border">
      <div class="login-border__l"></div>
      로그인
      <div class="login-border__r"></div>
    </div>

    <div class="loginbox__form">
      <form th:action="@{/user/login}" method="post">
        <div>
          <input
                  title="아이디"
                  type="text"
                  id="userId"
                  name="userId"
                  placeholder="아이디"
          />
        </div>
        <div>
          <input
                  title="비밀번호"
                  type="password"
                  id="userPassword"
                  name="userPassword"
                  placeholder="비밀번호"
                  autocomplete="off"
          />
        </div>

        <div class="loginbox__cheak">
          <input
                  type="checkbox"
                  name="loginCheckbox"
                  checked="checked"
                  id="check1"
          />
          <label for="check1"></label>
          <span>로그인 상태유지</span>
        </div>

        <div class="loginbox__button">
          <button type="submit" id="logoBtn">로그인</button>
        </div>
      </form>
    </div>

    <div class="loginbox_hr">
      <div><a th:href="@{/user/clause}">회원가입</a></div>
      <div class="loginbox__clickr">아이디 . 비밀번호 찾기</div>
    </div>
  </div>
</main>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/user/login.js}"></script>
</body>
</html>
