<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>
<footer class="footer__footer" th:fragment="footer">
  <div class="footer__footer__box">
    <div class="footer__footer__cominfo-box1">
      <div class="footer__footer__com-name">
        <div class="footer__footer__name-box">
          UPCYCLING#
        </div>
      </div>
      <div class="footer__footer__com-sns">
        <div class="footer__footer__inner-sns">
          <a href="">
            <div class="footer__footer__instagram-box">
              INSTARGRAM
            </div>
          </a>
          <a href="">
            <div class="footer__footer__kakaotalk-box">
              KAKAOTALK
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__footer__cominfo-box2">
      <div class="footer__footer__company-infomation">
        <div class="footer__footer__inner-infomation">
          <ul class="footer__footer__com-info-ul">
            <li>상호 주식회사 업사이클링샵</li>
            <li>대표 백엔드 개발자 양성 B반</li>
            <li>대표전화 070-0000-0000 이메일 abc@upcycling.net</li>
            <li>주소 서울시 노원구</li>
            <li>사업자등록번호 없음!!</li>
          </ul>
        </div>
      </div>
      <div class="footer__footer__per-infomation">
        <div class="footer__footer__inner-per">
          <ul class="footer__footer__per-info-ul">
            <li class="footer__footer__per-info-li">개인정보 처리방침</li>
            <li>이용약관</li>
            <!-- 집 가서 왜 이용약관만 저지랄로 뜨는지 다시 확인하기 -->
            <!-- 내피셜 개인정보 저거에 패딩인지 마진인지 맥여놔서 그런거 아님? -->
            <!-- 어 아니야 걍 왼쪽 오른쪽만 왔다갔다 거림 아 미치겟다 나도 -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__footer__cominfo-box3">
      <div class="footer__footer__copyright-box">
        <div class="footer__footer__copyright">
          COPYRIGTH @주식회사 업사이클링샵(UPCYCLING#) 어짝우저짝우
        </div>

      </div>
    </div>

  </div>
</footer>
</body>
</html>