<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<div class="header__upcycling__header" th:fragment="header">
    <header>
        <div class="header__header__entire">
            <div class="header__header__logo-box1">
                <div class="header__header__logo-box2">
                    <div class="header__header__logo">
                        <!-- 로고를 누르면 메인 페이지로 이동하게끔 처리하기 -->
                        <!-- tlqkf 이것도 a태그 써야되ㅔㄴ 하 -->
                        <form action="">
                            <div id="header__logo">
                                <a href="">
                                    UPCYCLING#
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div>
                <div class="header__header__main-menubox">
                    <div class="header__header__main-menu1">
                        <ul class="header__heder__main-menu-ul">
                            <li>
                                <a href="#">ABOUT</a>
                                <ul>
                                    <li><a href="#">업사이클링이란?</a></li>
                                    <li><a href="#">기대효과</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">SHOP</a>
                                <ul>
                                    <li><a href="#">가방</a></li>
                                    <li><a href="#">지갑</a></li>
                                    <li><a href="#">북커버</a></li>
                                    <li><a href="#">와인커버</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="../donation/donationOff.html">기부하기</a>
                                <ul>
                                    <li><a href="../donation/html/donationOff.html">기부하러가기</a></li>
                                    <li><a href="../donation/html/donationOn.html">온라인기부하기</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                                <ul>
                                    <li><a href="#">자주묻는질문</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">NEWS</a>
                                <ul>
                                    <li><a href="#">소통게시판</a></li>
                                    <li><a href="#">활동&기부소식</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="header__header__user-menubox">
                <div class="header__header__user-menu1">
                    <ul class="header__header__user-menu2">
                        <!-- 여기에 나중에 a태그 입혀서 넘어갈 수 있게 처리하기 -->
                        <li><a href="#">마이페이지</a></li>
                        <li><a href="#">로그인</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </header>

</div>
</body>
</html>