/* 노멀라이즈 시작 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  /* 노멀라이즈 끝 */

  /* 2차 메뉴 가두기 */
.side-bar > ul > li {
    position: relative;
  }
  
  /* 2차 메뉴 숨기기 */
  .side-bar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    background-color: #666;
  }
  
  body {
    background-color: #d8c7c7;
    height: 3333px;
  }
  
  .side-bar {
    position: fixed;
    min-height: 100vh;
    width: 100px;
    background-color: black;
    transition: .5s;
  }
  
  .side-bar ul > li > a {
    display: block;
    color: white;
    font-size: 1.7rem;
    padding: 10px 20px;
    white-space: nowrap;
  }

  .side-bar {
    position: fixed;
    min-height: 100vh;
    width: 100px;
    background-color: black;
    overflow: hidden;	/* 넘치는 메뉴 요소 숨기기 */
    transition: .5s;
  }
  
  /* 마우스 인식 시 너비 확장 */
  .side-bar:hover {
    width: 270px;
  }


  /* 2차 메뉴 공간 제한 해제 */
.side-bar:hover {
    width: 270px;
    overflow: visible;
  }
  
  .side-bar ul > li:hover > a {
    background-color: #888
  }
  
  .side-bar > ul > li:hover > ul {
    display: block;
  }
  
  /* 사이드바가 늘어나기 전 메뉴 노출 차단 */
  .side-bar > ul > li > a > span:last-child {
    opacity: 0;
    transition: .5s .1s;
  }
  
  .side-bar:hover > ul > li > a > span:last-child {
    opacity: 1;
  }

  .side-bar > ul > li > a > span:first-child {
    position: relative;
    display: inline-block;
    border: 3px solid white;
    border-radius: 30%;
    width: 4rem;
    height: 4rem;
  }
  
  .side-bar > ul > li > a > span > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .side-bar > ul > li > a > span {
    vertical-align: middle;
  }

.logout-menu{
    color: aliceblue;
    position: relative;
    text-align: center;
    font-size: 20px;
    
}

.item-icon{
 background-image: '';   
}

/* 상품 아이콘 출처 */
/* <a href="https://www.flaticon.com/kr/free-icons/" title="사양 아이콘">사양 아이콘  제작자: Freepik - Flaticon</a> */













  