<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/faq/faq03.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
  </head>
  <body>
  <header th:replace="~{/fragments/header :: header}"></header>
    <!-- faq 답변페이지 -->
    <div class="body">
      <div class="border">
        <!-- 첫번째 답변 style="display: none;" -->
        <div class="result-page1">
          <div class="title-div" >
            <div class="top-question">
              <h1 th:text="${board.faqQuestion}">
                Q 업사이클링이 무엇인가요?
              </h1>
            </div>
          </div>
          <div class="content-div">
            <div class="content-text">
                <span class="content_span-type" th:text="${board.faqAnswer}">
                </span>
            </div>
          </div>
          <!-- 이전글 다음글 클릭하면 넘어가도록설정. -->
          <div class="faq-div">
            <div class="blank-line"></div>
<!--            <ul>-->
<!--              <li class="faq_next-box" th:if="${board.faqNumber>1}">-->
<!--                <a th:href="@{/faq/detail(faqNumber=${board2.faqNumber})}"-->
<!--                  ><span class="faq_span-type">이전글</span>-->
<!--                  <span th:text="${board2.faqQuestion}"></span></a-->
<!--                >-->
<!--              </li>-->
<!--              <li class="faq_next-box" th:unless="${board.faqNumber>1}">-->
<!--                <span class="faq_span-type">이전글이 없습니다.</span>-->
<!--              </li>-->
<!--              <li class="faq_next-box" th:if="${board.faqNumber<board4.faqNumber}">-->
<!--                <a th:href="@{/faq/detail(faqNumber=${board3.faqNumber})}"-->
<!--                  ><span class="faq_span-type">다음글</span>-->
<!--                  <span th:text="${board3.faqQuestion}"></span></a-->
<!--                >-->
<!--              </li>-->
<!--              <li class="faq_next-box" th:unless="${board.faqNumber<board4.faqNumber}">-->
<!--                <span class="faq_span-type">다음글이 없습니다.</span>-->
<!--              </li>-->
<!--            </ul>-->
          </div>
          <!-- 여백 + 목록으로-->
          <div class="blank">
            <a th:href="@{/faq/main}"><span class="blank_span-type">&lt;&lt;목록으로</span></a>
          </div>
        </div>
      </div>
    </div>
  <footer th:replace="~{/fragments/footer :: footer}"></footer>
  </body>
</html>
