<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/faq/faq04.css}" />
  <link rel="stylesheet" th:href="@{/css/common/default.css}" />
  <link rel="stylesheet" th:href="@{/css/common/font.css}" />
  <title>Document</title>
</head>
<body>
<main>
  <div class="content-wrap">
    <form action="/faq/write" method="post">
    <section class="title" >
      <div class="title__main">
        <div class="pencil-box">
          <img th:src="@{/images/community/bluePencil.png}" alt=""
               class="title__img">
        </div>
        <div class="title-box">
          <div class="title__title">
            제목
          </div>
        </div>
        <div>
          <input type="text" id="post-question" name="faqQuestion" class="title__input"
                 placeholder="글의 제목을 입력하세요" />
        </div>
      </div>
    </section>
    <div class="text-box">
      <div class="attachment">
        <div class="attachment__box">
<!--          <section class="attachment__button">-->
<!--            <form action="" class="attachment__button-box">-->
<!--              <label for="attachment-file">첨부파일</label>-->
<!--              <input type="file" name="" id="attachment-file">-->
<!--            </form>-->
<!--          </section>-->
          작성자:
        </div>
      </div>
      <div class="textarea">
        <div class="textarea__box">
          <textarea id="post-answer" name="faqAnswer"
                    placeholder="글의 내용을 입력하세요" class="textarea__text" ></textarea>
        </div>
      </div>
    </div>
    <div class="foooter">
      <div class="foooter__button">
        <div class="foooter__box">
          <div class="foooter__ok">
            <button type="submit">작성완료</button>
          </div>
        </div>
        <div class="foooter__box2">
          <div class="foooter__save">
            <button>저장</button>
          </div>
          <div class="foooter__fix">
            <button>삭제</button>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</main>
</body>
</html>