<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/faq/faq01.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
  </head>
  <body>
  <header th:replace="~{/fragments/header :: header}"></header>
<!-- FAQ메인 페이지 -->
    <div class="body">
      <div class="border">
        <div class="title_search">
          <div class="top_question">
          <h2>무엇을 도와드릴까요?</h2></div>
          <div class="search">
            <form th:action="@{/faq/search-result}" method="get">
              <button class="btn">Q</button>
              <input type="text" name="keyword"
                     class="search_control" placeholder="검색 후 문의가 해결되지 않으면, 1:1 상담을 이용하세요." />
            </form>
          </div>
        </div>
        <div class="top_question">
        <h3>자주묻는 질문</h3>
        </div>
        <!--    질문리스트    -->
        <div class="faq_list">
          <ul>
            <li th:each="title : ${titleList}">
              <a th:href="@{/faq/detail(faqNumber=${title.faqNumber})}">
                <span class="type">
                  <span class="question">Q</span>
                </span>
                <span th:text="${title.faqQuestion}"></span>
              </a>
            </li>
          </ul>
        </div>
        <!-- 여백을 위한 빈공간 -->
        <div class="blank"></div>
        </form>
      </div>
    </div>

  <footer th:replace="~{/fragments/footer :: footer}"></footer>
  </body>
</html>
