<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/faq/faq01.css}" />
  </head>
  <body>
    <div class="header">
      <header></header>
    </div>
<!-- FAQ메인 페이지 -->
    <div class="body">
      <div class="border">
        <div class="title_search">
          <div class="top_question">
          <h2>무엇을 도와드릴까요?</h2></div>
          <div class="search">
            <form action="">
              <button class="btn">Q</button>
              <input type="text" class="search_control" placeholder="검색 후 문의가 해결되지 않으면, 1:1 상담을 이용하세요." />
            </form>
          </div>
        </div>
        <div class="top_question">
        <h3>자주묻는 질문</h3>
        </div>
        <div class="faq_list">
          <ul>
            <li>
              <a href="">
                <span class="type">
                  <span class="question">Q</span>
                </span>
                업사이클링이 무엇인가요?
              </a>
            </li>
            <li>
              <a href="">
                <span class="type">
                  <span class="question">Q</span>
                </span>
                주문하는 방법을 모르겠어요
              </a>
            </li>
            <li>
              <a href="">
                <span class="type">
                  <span class="question">Q</span>
                </span>
                기부하는 방법을 모르겠어요
              </a>
            </li>
            <li>
              <a href="">
                <span class="type">
                  <span class="question">Q</span>
                </span>
                업사이클링된 제품이 궁금해요
              </a>
            </li>
            <li>
              <a href="">
                <span class="type">
                  <span class="question">Q</span>
                </span>
                질문 있어요
              </a>
            </li>
          </ul>
        </div>
        <!-- 여백을 위한 빈공간 -->
        <div class="blank"></div>
        <!--    관리자한테만 보여줄 작성하기 버튼    -->
        <div>
          <a href="">
            <div class="faq_list_footer">
              <span class="faq_list_footer_text">작성하기</span>
            </div>
          </a>
        </div>
        </form>
      </div>
    </div>

    <div class="footer">
      <footer></footer>
    </div>
  </body>
</html>
