<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.upcycling.mapper.AdministratorMapper">

<!--    admin 계정 생성-->
<insert id="insert">
    INSERT INTO TBL_ADMINISTRATOR(ADMINISTRATOR_NUMBER, ADMINISTRATOR_ID, ADMINISTRATOR_PASSWORD, ADMINISTRATOR_NAME, ADMINISTRATOR_AUTH)
    VALUES (SEQ_ADMINISTRATOR.nextval, #{administratorId},#{administratorPassword},#{administratorName},#{administratorAuth})
</insert>

<!--    로그인-->
    <select id="selectAdminNumber" parameterType="administratorDto" resultType="long">
        SELECT ADMINISTRATOR_NUMBER
        FROM TBL_ADMINISTRATOR
        WHERE ADMINISTRATOR_ID = #{administratorId} AND ADMINISTRATOR_PASSWORD = #{administratorPassword}
    </select>

<!-- 상품 리스트 조회(product-info.html) -->
    <select id="selectProductInfo" parameterType="criteria" resultType="productDto">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CONTENT, PRODUCT_PRICE, PRODUCT_SALE
        FROM (
            SELECT ROWNUM RNUM, PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CONTENT, PRODUCT_PRICE, PRODUCT_SALE
            FROM (
                SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CONTENT, PRODUCT_PRICE, PRODUCT_SALE
                FROM TBL_PRODUCT
                ORDER BY PRODUCT_NUMBER
            )
            <![CDATA[
            WHERE ROWNUM <=  #{page} * #{amount}
            ]]>
        )
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

<!--    product-info.html 페이징 처리 -->

    <select id="selectTotal" resultType="_int">
        SELECT COUNT(PRODUCT_NUMBER)
        FROM TBL_PRODUCT
    </select>

    <!-- 상품 리뷰 조회(product-review.html) -->
<select id="selectProductReview" parameterType="criteria" resultType="shopReviewDto">
    SELECT RNUM, REVIEW_NUMBER, USER_NUMBER, REVIEW_CONTENT
    FROM(SELECT ROWNUM RNUM ,REVIEW_NUMBER, USER_NUMBER, REVIEW_CONTENT
    FROM(SELECT REVIEW_NUMBER, USER_NUMBER, REVIEW_CONTENT
    FROM TBL_SHOP_REVIEW
    ORDER BY REVIEW_NUMBER)
    <![CDATA[
    WHERE ROWNUM <= #{page} * #{amount})
    ]]>
    WHERE RNUM > (#{page} - 1) * #{amount}
</select>

    <!--    product-review.html 페이징 처리 -->
    <select id="selectReviewTotal" resultType="_int">
    SELECT COUNT(REVIEW_NUMBER)
    FROM TBL_SHOP_REVIEW
    </select>

<!--    회원 정보 조회-->
<select id="selectUserInfo" parameterType="criteria" resultType="userDto" >
    SELECT RNUM, USER_NUMBER, USER_ID, USER_NAME, USER_EMAIL, TO_CHAR(USER_BIRTH,'YYYY/MM/DD') USER_BIRTH, USER_PHONE_NUMBER
    FROM(SELECT  ROWNUM RNUM, USER_NUMBER, USER_ID, USER_NAME, USER_EMAIL, USER_BIRTH, USER_PHONE_NUMBER
    FROM (SELECT USER_NUMBER, USER_ID, USER_NAME, USER_EMAIL, USER_BIRTH, USER_PHONE_NUMBER
    FROM TBL_USER
    ORDER BY USER_NUMBER
    )
    <![CDATA[
    WHERE ROWNUM <= #{page} * #{amount}
    )
    ]]>
    WHERE RNUM > (#{page} - 1) * #{amount}
</select>

<!-- user-info.html 페이징 처리   -->
    <select id="selectUserTotal" resultType="_int">
        SELECT COUNT(USER_NUMBER)
        FROM TBL_USER
    </select>

<!-- 회원 주문 정보 조회-->
    <select id="selectUserOrder" parameterType="criteria" resultType="userOrderVo">
        SELECT RNUM, ORDER_NUMBER, USER_NUMBER, PRODUCT_NUMBER,
        ORDER_PRODUCT_CNT, ORDER_TOTAL, TO_CHAR(ORDER_DATE,'YYYY/MM/DD') ORDER_DATE, ORDER_ADDR, ORDER_ADDR_DETAIL
        FROM(SELECT ROWNUM RNUM, ORDER_NUMBER, USER_NUMBER, PRODUCT_NUMBER, ORDER_PRODUCT_CNT,
        ORDER_TOTAL, ORDER_DATE, ORDER_ADDR, ORDER_ADDR_DETAIL
        FROM(SELECT ORDER_NUMBER, USER_NUMBER, PRODUCT_NUMBER, ORDER_PRODUCT_CNT,
        ORDER_TOTAL, ORDER_DATE, ORDER_ADDR, ORDER_ADDR_DETAIL
        FROM(SELECT O.ORDER_NUMBER, O.USER_NUMBER, P.PRODUCT_NUMBER,
        P.ORDER_PRODUCT_CNT, O.ORDER_TOTAL, O.ORDER_DATE,
        O.ORDER_ADDR, O.ORDER_ADDR_DETAIL
        FROM TBL_ORDER O
        JOIN TBL_ORDER_PRODUCT P
        ON O.ORDER_NUMBER = P.ORDER_NUMBER)
        ORDER BY ORDER_NUMBER)
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount})
            ]]>
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <!-- user-order.html 페이징 처리   -->
    <select id="selectUserOrderTotal" resultType="_int">
        SELECT COUNT(ORDER_NUMBER)
        FROM (SELECT O.ORDER_NUMBER ORDER_NUMBER, O.USER_NUMBER, P.PRODUCT_NUMBER,
                     P.ORDER_PRODUCT_CNT, O.ORDER_TOTAL, O.ORDER_DATE,
                     O.ORDER_ADDR, O.ORDER_ADDR_DETAIL
              FROM TBL_ORDER O
                       FULL OUTER JOIN TBL_ORDER_PRODUCT P
                                       ON O.ORDER_NUMBER = P.ORDER_NUMBER)
    </select>

<!--faq 정보 조회-->
    <select id="selectFaqInfo" parameterType="criteria" resultType="faqDto">
        SELECT RNUM, FAQ_NUMBER, FAQ_QUESTION, FAQ_ANSWER
        FROM(SELECT ROWNUM RNUM, FAQ_NUMBER, FAQ_QUESTION, FAQ_ANSWER
        FROM(SELECT FAQ_NUMBER, FAQ_QUESTION, FAQ_ANSWER
        FROM TBL_FAQ
        ORDER BY FAQ_NUMBER)
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount})
            ]]>
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <!--faq-info.html 페이징 처리-->
    <select id="selectFaqTotal" resultType="_int">
        SELECT COUNT(FAQ_NUMBER)
        FROM TBL_FAQ
    </select>

<!--    faq-write 입력-->
<insert id="insertFaq" parameterType="faqDto">
<selectKey keyProperty="faqNumber" resultType="long" order="BEFORE">
    SELECT SEQ_FAQ.nextval FROM DUAL
</selectKey>
    INSERT INTO TBL_FAQ(FAQ_NUMBER, FAQ_QUESTION, FAQ_ANSWER, ADMINISTRATOR_NUMBER)
    VALUES (#{faqNumber},#{faqQuestion},#{faqAnswer}, #{administratorNumber})
</insert>




    <!--point 페이지 정보 조회-->
    <select id="selectPointInfo" parameterType="criteria" resultType="userDto">
        SELECT RNUM, USER_NUMBER, USER_NAME, USER_POINT
        FROM(SELECT ROWNUM RNUM, USER_NUMBER, USER_NAME, USER_POINT
        FROM(SELECT USER_NUMBER,USER_NAME, USER_POINT
        FROM TBL_USER
        ORDER BY USER_NUMBER)
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount})
        ]]>
        WHERE RNUM > (#{page} -1) * #{amount}
    </select>

<!--   point-info.html 페이징 처리-->
    <select id="selectPointTotal" resultType="_int">
        SELECT COUNT(USER_NUMBER)
        FROM TBL_USER
    </select>

    <!--삭제-->
<!--상품 정보 삭제-->
    <delete id="deleteProductInfo" parameterType="long">
        DELETE FROM TBL_PRODUCT
        WHERE PRODUCT_NUMBER = #{productNumber}
    </delete>

    <!--상품 리뷰 삭제-->
    <delete id="deleteProductReview" parameterType="long">
        DELETE FROM TBL_SHOP_REVIEW
        WHERE REVIEW_NUMBER = #{reviewNumber}
    </delete>

    <!--회원 정보 삭제  -->
     <delete id="deleteUserInfo" parameterType="long">
         DELETE FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
     </delete>



</mapper>