<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.upcycling.mapper.CommunityMapper">
    <select id="selectList" parameterType="criteria" resultType="communityVo">
        SELECT RNUM,  COMMUNITY_NUMBER,COMMUNITY_TITLE,
        USER_ID,COMMUNITY_SYSDATE,COMMUNITY_VIEW_COUNT
        FROM(SELECT ROWNUM RNUM, COMMUNITY_NUMBER,COMMUNITY_TITLE,
        USER_ID,COMMUNITY_SYSDATE,COMMUNITY_VIEW_COUNT
        FROM(SELECT C.COMMUNITY_NUMBER,C.COMMUNITY_TITLE,
        U.USER_ID,C.COMMUNITY_SYSDATE,C.COMMUNITY_VIEW_COUNT
        FROM TBL_COMMUNITY C JOIN TBL_USER U
        ON C.USER_NUMBER = U.USER_NUMBER
        ORDER BY C.COMMUNITY_NUMBER DESC )
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount})
            ]]>
        WHERE RNUM >(#{page} -1) * #{amount}
    </select>
<!--  리스트페이징처리  -->
    <select id="listTotal" resultType="_int">
        SELECT COUNT(COMMUNITY_NUMBER)
        FROM TBL_COMMUNITY
    </select>


    <select id="selectDetail" resultType="communityVo" parameterType="long">
        SELECT C.COMMUNITY_NUMBER,C.COMMUNITY_TITLE,C.COMMUNITY_CONTENT,
               U.USER_NUMBER,U.USER_ID,
               (SELECT COUNT(LIKE_NUMBER) FROM TBL_LIKE L WHERE L.USER_NUMBER = U.USER_NUMBER AND L.COMMUNITY_NUMBER = C.COMMUNITY_NUMBER) LIKE_CNT
        FROM TBL_COMMUNITY C JOIN TBL_USER U ON C.USER_NUMBER = U.USER_NUMBER
        WHERE COMMUNITY_NUMBER = #{communityNumber}
    </select>

    <select id="selectId" resultType="string" parameterType="long">
        SELECT USER_ID FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>
    <insert id="insert" parameterType="communityDto">
        insert into TBL_COMMUNITY (COMMUNITY_NUMBER, COMMUNITY_TITLE, COMMUNITY_CONTENT, USER_NUMBER)
        values (SEQ_COMMUNITY.nextval,#{communityTitle},#{communityContent},#{userNumber})
    </insert>

</mapper>