<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.upcycling.mapper.MypageMapper">

<!--    주문리스트 조회-->
    <select id="selectOrderinquiry" resultType="mypageInquiryVo">
        SELECT ORDER_NUMBER, ORDER_TOTAL, ORDER_DATE, ORDER_STATUS, PRODUCT_NUMBER, PRODUCT_NAME,
               PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID
        FROM (
                 SELECT ROWNUM AS RNUM, ORDER_NUMBER, ORDER_TOTAL, ORDER_DATE, ORDER_STATUS, PRODUCT_NUMBER,
                        PRODUCT_NAME, PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID
                 FROM (
                          SELECT O.ORDER_NUMBER, O.ORDER_TOTAL, TO_CHAR(O.ORDER_DATE, 'YYYY-MM-DD')"ORDER_DATE", O.ORDER_STATUS,
                                 P.PRODUCT_NUMBER, PRODUCT_NAME,
                                 I.PRODUCT_IMG_NUMBER, I.PRODUCT_IMG_NAME, I.PRODUCT_IMG_UPLOAD_PATH, I.PRODUCT_IMG_UUID
                          FROM TBL_ORDER O JOIN TBL_ORDER_PRODUCT OP
                                                ON O.USER_NUMBER = #{userNumber} AND O.ORDER_NUMBER = OP.ORDER_NUMBER
                                           LEFT JOIN TBL_PRODUCT P
                                                     ON OP.PRODUCT_NUMBER = P.PRODUCT_NUMBER
                                           LEFT JOIN (
                              SELECT PRODUCT_NUMBER, PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID, RK
                              FROM
                                  (SELECT  I.PRODUCT_NUMBER, I.PRODUCT_IMG_NUMBER, I.PRODUCT_IMG_NAME, I.PRODUCT_IMG_UPLOAD_PATH, I.PRODUCT_IMG_UUID,
                                           RANK() over (PARTITION BY I.PRODUCT_NUMBER ORDER BY I.PRODUCT_IMG_NUMBER) RK
                                   FROM TBL_PRODUCT_IMG I)
                              WHERE RK=1
                          ) I
                                                     ON P.PRODUCT_NUMBER = I.PRODUCT_NUMBER
                          ORDER BY ORDER_NUMBER  DESC
                          <![CDATA[
                      ) WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
             ]]>
     )WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <!--   오더인쿼리 페이징 처리-->
    <select id="selectTotal" resultType="_int">
        SELECT COUNT(ORDER_NUMBER)
        FROM TBL_ORDER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="selectMypageUserinquiry" resultType="userDto" parameterType="long">
        SELECT  USER_NUMBER, USER_NAME, USER_POINT, USER_PROFILE_NAME, USER_PROFILE_UPLOAD_PATH, USER_PROFILE_UUID
        FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

<!--    회원정보 수정-->
    <update id="updateMemberModify" parameterType="userModifyVo">
            UPDATE TBL_USER
            SET
                USER_EMAIL = #{userEmail},
                USER_NAME = #{userName},
                USER_PHONE_NUMBER = #{userPhoneNumber},
                USER_ADDRESS = #{userAddress},
                USER_ADDRESSDETAIL = #{userAddressDetail},

                <if test="userProfileName != null">
                USER_PROFILE_NAME = #{userProfileName},
                USER_PROFILE_UPLOAD_PATH = #{userProfileUploadPath},
                USER_PROFILE_UUID = #{userProfileUuid},
                </if>
                USER_BIRTH = #{userBirth}
                <if test="userPassword != null and !userPassword.equals('')">
                , USER_PASSWORD = #{userPassword}
                </if>
            WHERE USER_NUMBER = #{userNumber}
    </update>

<!--    회원 이름 적립금 조회-->
    <select id="selectUser" parameterType="long" resultType="userDto">
        SELECT USER_NUMBER, USER_ID
        FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

<!--    주문내역 상세조회-->
    <select id="selectOrderDetails" resultType="mypageInquiryDetailsVo" parameterType="long">
        SELECT O.ORDER_NUMBER, O.ORDER_TOTAL, TO_CHAR(O.ORDER_DATE, 'YYYY-MM-DD')"ORDER_DATE",
               O.ORDER_STATUS,O.ORDER_REQ, O.ORDER_NAME, O.ORDER_TEL,O.ORDER_ADDR,O.ORDER_ADDR_DETAIL,
               P.PRODUCT_NUMBER, PRODUCT_NAME,
               I.PRODUCT_IMG_NUMBER, I.PRODUCT_IMG_NAME, I.PRODUCT_IMG_UPLOAD_PATH, I.PRODUCT_IMG_UUID,
               S.SHOP_CATEGORY_NUMBER, S.SHOP_CATEGORY_NAME,
               U.USER_NUMBER, U.USER_EMAIL, U.USER_PHONE_NUMBER, U.USER_ADDRESS,
               OP.ORDER_PRODUCT_PRICE,
               C.CLOTHES_MATERIAL_NUMBER, C.CLOTHES_MATERIAL_NAME
        FROM TBL_ORDER O JOIN TBL_ORDER_PRODUCT OP
                              ON O.ORDER_NUMBER = #{orderNumber}  AND O.ORDER_NUMBER = OP.ORDER_NUMBER
                         JOIN TBL_CLOTHES_MATERIAL C
                              ON C.CLOTHES_MATERIAL_NUMBER = OP.CLOTHES_MATERIAL_NUMBER
                         JOIN TBL_PRODUCT P
                              ON OP.PRODUCT_NUMBER = P.PRODUCT_NUMBER
                         LEFT JOIN (
            SELECT PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID, PRODUCT_NUMBER, RK
            FROM (
                     SELECT PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID, PRODUCT_NUMBER,
                            RANK() over (PARTITION BY PRODUCT_NUMBER ORDER BY PRODUCT_IMG_NUMBER) RK
                     FROM TBL_PRODUCT_IMG
                 )
            WHERE RK=1
        ) I
                                   ON P.PRODUCT_NUMBER = I.PRODUCT_NUMBER
                         JOIN TBL_SHOP_CATEGORY S
                              ON S.SHOP_CATEGORY_NUMBER = P.SHOP_CATEGORY_NUMBER
                         JOIN TBL_USER U
                              ON U.USER_NUMBER = O.USER_NUMBER
    </select>

<!--    회원 적립금 내역리스트 조회-->
    <select id="selectListSavedMoney" parameterType="long" resultType="savedMoneyDto">
        SELECT U.USER_NUMBER, S.SAVED_MONEY_NUMBER, S.SAVED_MONEY_CONTENT, S.SAVED_MONEY_AMOUNT, TO_CHAR(S.SAVED_MONEY_DATE, 'YYYY-MM-DD')"SAVED_MONEY_DATE"
        FROM TBL_USER U JOIN TBL_SAVED_MONEY S
                             ON U.USER_NUMBER = #{userNumber} AND U.USER_NUMBER = S.USER_NUMBER
    </select>

<!--    회원 탈퇴-->
    <delete id="deleteUser" parameterType="long">
        DELETE FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </delete>
</mapper>