<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.upcycling.mapper.ProductMapper">
    <select id="selectProductInfoImg" resultType="mainProductVo">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_SALE, PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UUID, PRODUCT_IMG_UPLOAD_PATH
        FROM (
            SELECT P.PRODUCT_NUMBER, P.PRODUCT_NAME, P.PRODUCT_PRICE, P.PRODUCT_SALE,
                PI.PRODUCT_IMG_NUMBER, PI.PRODUCT_IMG_NAME, PI.PRODUCT_IMG_UUID, PI.PRODUCT_IMG_UPLOAD_PATH
            FROM TBL_PRODUCT P JOIN TBL_PRODUCT_IMG PI
                ON P.PRODUCT_NUMBER = PI.PRODUCT_NUMBER
            ORDER BY P.PRODUCT_NUMBER DESC
        )
        <![CDATA[
        WHERE ROWNUM <= 3
        ]]>
    </select>
<!--    내가한거-->
    <select id="selectAll" resultType="productVo">
        select PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_SALE,
        PRODUCT_SYSDATE, SHOP_CATEGORY_NUMBER, ADMINISTRATOR_NUMBER,
        round(PRODUCT_PRICE*((100-PRODUCT_SALE)/100)) as productSalePrice,
        PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID
        from(
            select ROWNUM RNUM,PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_SALE,
            PRODUCT_SYSDATE, SHOP_CATEGORY_NUMBER, ADMINISTRATOR_NUMBER,
            PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID
            from(
                SELECT P.PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_SALE,
                PRODUCT_SYSDATE, SHOP_CATEGORY_NUMBER, ADMINISTRATOR_NUMBER,
                I.PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID
                FROM TBL_PRODUCT P LEFT JOIN TBL_PRODUCT_IMG I
                ON P.PRODUCT_NUMBER = I.PRODUCT_NUMBER
                )
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ]]>
        )
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="selectTotal" resultType="_int">
        select COUNT(PRODUCT_NUMBER)
        from TBL_PRODUCT
    </select>
<!--    넘버에 맞는 값만 조회하기-->
    <select id="selectAll2" parameterType="long" resultType="productVo">
        SELECT P.PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_SALE,PRODUCT_CONTENT,
               PRODUCT_SYSDATE, SHOP_CATEGORY_NUMBER, ADMINISTRATOR_NUMBER,
               round(PRODUCT_PRICE*((100-PRODUCT_SALE)/100)) as productSalePrice,
               I.PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID
        FROM TBL_PRODUCT P LEFT JOIN TBL_PRODUCT_IMG I
                                     ON P.PRODUCT_NUMBER = I.PRODUCT_NUMBER
        where p.PRODUCT_NUMBER =#{productNumber}
    </select>

<!--  옷감 종류를 조회하기  -->
    <select id="selectClothes" resultType="productDto">
        select CLOTHES_MATERIAL_NUMBER
        from TBL_CLOTHES_MATERIAL
        where CLOTHES_MATERIAL_NAME='Denim'
    </select>
    <select id="selectClothes2" resultType="productDto">
        select CLOTHES_MATERIAL_NUMBER
        from TBL_CLOTHES_MATERIAL
        where CLOTHES_MATERIAL_NAME='Leather'
    </select>
    <select id="selectClothes3" resultType="productDto">
        select CLOTHES_MATERIAL_NUMBER
        from TBL_CLOTHES_MATERIAL
        where CLOTHES_MATERIAL_NAME='Cotton'
    </select>

<!--    상품 카테고리별로 다르게 조회하기-->
    <select id="selectCategoryList" resultType="productVo">
        select  PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_SALE,
                PRODUCT_SYSDATE, SHOP_CATEGORY_NUMBER, ADMINISTRATOR_NUMBER,
                round(PRODUCT_PRICE*((100-PRODUCT_SALE)/100)) as productSalePrice,
                PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID
        from(
                select  ROWNUM RNUM,PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_SALE,
                        PRODUCT_SYSDATE, SHOP_CATEGORY_NUMBER, ADMINISTRATOR_NUMBER,
                        PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID
                from   (
                        SELECT  P.PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_SALE,
                                PRODUCT_SYSDATE, SHOP_CATEGORY_NUMBER, ADMINISTRATOR_NUMBER,
                                I.PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_UPLOAD_PATH, PRODUCT_IMG_UUID
                        FROM TBL_PRODUCT P LEFT JOIN TBL_PRODUCT_IMG I
                        ON P.PRODUCT_NUMBER = I.PRODUCT_NUMBER
                        where SHOP_CATEGORY_NUMBER=#{shopCategoryNumber}
                        )
                <![CDATA[
                where ROWNUM <= 12
                ]]>
            )
        where RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

<!--    종류별로 카테고리넘버와 이름을 조회하기-->
    <select id="selectCategoryBag" resultType="productVo">
        select SHOP_CATEGORY_NUMBER,SHOP_CATEGORY_NAME
        from TBL_SHOP_CATEGORY
        where SHOP_CATEGORY_NAME='가방'
    </select>
    <select id="selectCategoryWallet" resultType="productVo">
        select SHOP_CATEGORY_NUMBER,SHOP_CATEGORY_NAME
        from TBL_SHOP_CATEGORY
        where SHOP_CATEGORY_NAME='지갑'
    </select>
    <select id="selectCategoryBook" resultType="productVo">
        select SHOP_CATEGORY_NUMBER,SHOP_CATEGORY_NAME
        from TBL_SHOP_CATEGORY
        where SHOP_CATEGORY_NAME='북'
    </select>
    <select id="selectCategoryWineCover" resultType="productVo">
        select SHOP_CATEGORY_NUMBER,SHOP_CATEGORY_NAME
        from TBL_SHOP_CATEGORY
        where SHOP_CATEGORY_NAME='와인커버'
    </select>

</mapper>