<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.upcycling.mapper.ShopCategoryMapper">
    <select id="selectShopCategoryName" parameterType="long" resultType="shopCategoryDto">
        select SHOP_CATEGORY_NAME
        from TBL_SHOP_CATEGORY
        where SHOP_CATEGORY_NUMBER=#{shopCategoryNumber}
    </select>
</mapper>