<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.upcycling.mapper.UserMapper">

    <insert id="insert">
        <selectKey keyProperty="userNumber" resultType="long" order="BEFORE">
            SELECT SEQ_USER.nextval FROM DUAL
        </selectKey>
     INSERT INTO TBL_USER (USER_NUMBER,  USER_PASSWORD, USER_NAME, USER_EMAIL, USER_BIRTH,
    USER_PHONE_NUMBER, USER_ID, USER_ADDRESS, USER_ADDRESSDETAIL)
        VALUES (#{userNumber}, #{userPassword}, #{userName}, #{userEmail}, #{userBirthYear} || '.' || #{userBirthMonth} || '.'|| #{userBirthDay},#{userPhoneNumber},
            #{userId}, #{userAddress}, #{userAddressDetail})
    </insert>


    <select id="selectUserNumber">
        SELECT USER_NUMBER FROM TBL_USER
        WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
    </select>


</mapper>