<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/shop/shop03.css}" />
  <link rel="stylesheet" th:href="@{/css/common/default.css}" />
  <link rel="stylesheet" th:href="@{/css/common/font.css}" />
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
  <title>Document</title>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<main>
  <form th:action="@{/shop/write}" method="post" enctype="multipart/form-data">
  <div class="content-wrap">
    <section class="title" >
      <div class="title__main">
        <div class="pencil-box">
          <img th:src="@{/images/community/bluePencil.png}" alt=""
               class="title__img">
        </div>
        <div class="title-box">
          <div class="title__title">
            제목
          </div>
        </div>
        <div>
          <input type="text" name="reviewTitle" class="title__input"  placeholder="구매평의 제목을 입력하세요">
        </div>
      </div>
    </section>
    <div class="text-box">
      <div class="attachment">
        <div class="attachment__box">
          <section class="attachment__button">
            <label for="attachment-file">첨부파일</label>
            <input type="file" name="reviewFile" id="attachment-file">
          </section>
        </div>
      </div>
      <div class="textarea">
        <div class="textarea__box">
          <textarea name="reviewContent" placeholder="구매평의 내용을 입력하세요" class="textarea__text"></textarea>
        </div>
      </div>
    </div>
    <div class="foooter">
      <div class="star">별점
        5 <input type="radio" id="star_A" name="reviewRate" value="5" checked>
        4 <input type="radio" id="star_B" name="reviewRate" value="4">
        3 <input type="radio" id="star_C" name="reviewRate" value="3">
        2 <input type="radio" id="star_D" name="reviewRate" value="2">
        1 <input type="radio" id="star_E" name="reviewRate" value="1">
      </div>
      <br>
      <div class="foooter__box">
        <div class="hidden-box">
          <input type="hidden" name="productNumber" th:value="${product}">
          <input type="hidden" name="userNumber" th:value="${userNumber}">
        </div>
        <div class="foooter__ok">
          <button>작성완료</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</main>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>