<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/shop/shop01.css}" />
  <script th:src="@{/js/shop/shop01}" defer></script>
</head>
<body>
  <div class="header"><header></header></div>

  <div class="body">
    <div class="body_body">
      <div class="blank"></div>
      <!-- shop과 #환경과 디자인을...이 나오는 맨 앞 글씨 -->
      <div class="text_table">
        <div class="text_shop">
            <span>SHOP</span>
        </div>
        <div class="text_shopright">
          <h2>
            <span>#환경과 디자인을 생각한</span>
              <br>
            <span>업사이클링물품</span>
          </h2>
        </div>
      </div>
      <!-- ------------------가로선----------------- -->
      <div class="line">
        <hr style="border-top-width:2px; border-color:rgb(100, 200, 200);">
      </div>
      <!-- 칼럼 테이블(가방,지갑,북,와인커버) -->
      <div class="col_table_border">
        <div class="col_table">
          <ul class="col_table_ul">
            <li class="col_table_li"><a href=""><span style="color: rgb(100, 200, 200);">전체</span></a></li>
            <li class="col_table_li"><a href=""><span>가방</span></a></li>
            <li class="col_table_li"><a href=""><span>지갑</span></a></li>
            <li class="col_table_li"><a href=""><span>북</span></a></li>
            <li class="col_table_li"><a href=""><span>와인커버</span></a></li>
          </ul>
        </div>
      </div>
      <!-- 작은여백 -->
      <div class="blank_small"></div>
      <!-- 상품전체테두리 -->
      <div class="product_border">
        <div class="board">
        <!-- 샘플테두리 -->
          <div class="product01">
            <div class="product01_wrap">
              <a th:href="@{/shop/detail}">
                <img th:src="@{/images/shop/no-image.png}"
                class="product01_img">
              </a>
            </div>
          <div class="product01_pay_border">
              <div class="product01_pay">
               <p class="shop-brand" style="margin-bottom: 6px; opacity : 0.7; color: #013d0a; font-size: 12.8px; line-height : 1;">UPCYCLING:SHOP</p>
               <h3><a th:href="@{/shop/detail}">제품명</a></h3>
               <p class="product01_pay_detail">5,500원</p>
                <img src="https://cdn.imweb.me/upload/S202201061adbb451f78fd/da8192641df5f.png" class="best" style="width: 32px;" alt="best item badge">
                <div class="img_heart">
                  <span class="heart-number_wrap">
                    <img th:src="@{/images/shop/heart.png}" class="heart_img" alt="">
                    <span class="heart_number">0</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- /샘플테두리 -->
<!--          <div class="product01"></div>-->
<!--          <div class="product01"></div>-->
<!--          <div class="product01"></div>-->
<!--          <div class="product01"></div>-->
<!--          <div class="product01"></div>-->
<!--          <div class="product01"></div>-->
<!--          <div class="product01"></div>-->
<!--          <div class="product01"></div>-->
<!--          <div class="product01"></div>-->
<!--          <div class="product01"></div>-->
<!--          <div class="product01"></div>-->
        </div>
      </div> <!-- /상품전체테두리 -->
<!-- 페이징 처리 -->
<div class="page-container">
  <ul class="page-box">
    <a class="page-a">
      <li class="page-num prev">&lt</li>
    </a>

    <a class="page-a">
      <li class="page-num">1</li>
    </a>

    <a class="page-a">
      <li class="page-num next">&gt</li>
    </a>
  </ul>
</div>
<!-- /페이징 처리 -->
    </div>
  </div>
  
  <div class="footer"><footer></footer></div>
</body>
</html>