<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/shop/shop02.css}" />

  </head>
  <body>
    <div class="body">
      <form action="" method="get">
        <div class="body_body">
          <div class="blank"></div>
          <div class="shop_sub_depth">
            <ul class="sub_depth">
              <li>
                <a href="">Home</a><span style="color: #e5e7eb">&gt</span>
              </li>
              <li>
                <a th:href="@{/shop/main}">상품</a>
                <span style="color: #e5e7eb">&gt</span>
              </li>
              <li>
                <a href="">가방</a><span style="color: #e5e7eb"></span>
              </li>
            </ul>
          </div>
          <div class="content">
            <div class="content_left">
              <div class="product-img-wrap">
                <img th:if="${product.productImgNumber == null}"
                  th:src="@{/images/shop/no-image.png}"
                  class="product-img"
                />
                <img th:unless="${product.productImgNumber == null}"
                     th:src="${'/upload/' + product.productImgUploadPath + '/' + product.productImgUuid + '_' + product.productImgName}"
                     class="product-img"
                />
              </div>
            </div>
            <div class="content_right">
              <div class="title-and-price">
                <div class="product-name">
                  <span th:text="${product.productName}"
                    style="
                      color: rgb(70, 70, 70);
                      font-weight: bold;
                      font-size: 26px;
                    "
                  >
                  </span>
                </div>
                <div class="product-price" th:if="${product.productSalePrice != null}">
                  <span th:text="${product.productPrice}" style="text-decoration:line-through; color: #757575; font-size: 15px"></span><br>
                  <span th:text="${product.productSale}" style="font-size: 20px; color: red"></span>%
                  <span id="productPrice" th:text="${product.productSalePrice}" style="font-size: 20px; color: rgb(70,70,70)"></span>원
                </div>
                <div class="product-price" th:unless="${product.productSalePrice != null}">
                  <span id="productPrice" th:text="${product.productPrice}" style= "font-size: 20px;"></span>원
                </div>
              </div>
              <!-- 제품설명 -->
              <div class="product-text-wrap">
                <div class="product-text">
                  <p th:text="${product.productContent}"></p>
                </div>
              </div>
              <!-- 구매해택,배송방법,배송비용 -->
              <div class="product-detail-wrap">
                <div class="product-detail">
                  <div class="detail-text01-wrap">
                    <span class="detail-text01">구매혜택</span>
                  </div>
                  <div class="detail-text02-wrap">
                    <span class="detail-text02">240 적립금 적립예정</span>
                  </div>
                </div>
                <div class="product-detail">
                  <div class="detail-text01-wrap">
                    <span class="detail-text01">배송방법</span>
                  </div>
                  <div class="detail-text02-wrap">
                    <span class="detail-text02">택배</span>
                  </div>
                </div>
                <div class="product-detail">
                  <div class="detail-text01-wrap">
                    <span class="detail-text01">배송비용</span>
                  </div>
                  <div class="detail-text02-wrap">
                    <span class="detail-text02">무료</span>
                  </div>
                </div>
              </div>
              <!-- 구매 양식 -->
              <div class="product-option">
                <div class="form-group">
                  <label>주문 양식</label>
                  <div class="quality-wrap">
                    <label for="quality-a" class="quality-box">
                      <span>데님</span>
                      <input
                        type="radio"
                        id="quality-a"
                        name="clothesMaterialNumber"
                        th:value="${clothesDenim.clothesMaterialNumber}"
                        class="radio1"
                        checked
                      />
                    </label>
                    <label for="quality-b" class="quality-box">
                      <span>가죽</span>
                      <input
                        type="radio"
                        id="quality-b"
                        name="clothesMaterialNumber"
                        th:value="${clothesLeather.clothesMaterialNumber}"
                        class="radio1"
                      />
                    </label>
                    <label for="quality-c" class="quality-box">
                      <span>면</span>
                      <input
                        type="radio"
                        id="quality-c"
                        name="clothesMaterialNumber"
                        th:value="${clothesCotton.clothesMaterialNumber}"
                        class="radio1"
                      />
                    </label>
                  </div>
                </div>
                <!-- 수량 -->
                <div class="order-block">
                  <div class="order_top">
                    <div class="order_top_text-border">
                      <span class="order_top_text">수량</span>
                    </div>
                  </div>
                  <div class="order_bottom">
                    <div class="option-btn-wrap">
                      <div class="option-btn">
                        <input type='button'
                               onclick='count("plus")'
                               value='+'/>
                        <input type='button'
                               onclick='count("minus")'
                               value='-'/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="total-price-border">
                  <p>
                    <span class="total-amount">총 상품금액(
                      <span id="result">1</span>개)</span>
                    <span class="total_price" th:if="${product.productSalePrice != null}">
                      <span id="total-price" th:text="${product.productSalePrice}"></span>
                      원
                    </span>
                    <span class="total_price" th:unless="${product.productSalePrice != null}">
                      <span id="total-price" th:text="${product.productPrice}"></span>
                      원
                    </span>
                  </p>
                </div>
                <!-- /수량 -->
                <!-- 키링 -->
                <div class="keyring-text">키링선택</div>
                <div class="keyring_ok">
                  <div class="keyring_left">
                    <input type="radio" id="O" name="keyring" value="o"/>
                    O
                  </div>

                  <div class="keyring_right">
                    <input type="radio" id="X" name="keyring" value="x" checked />
                    X
                  </div>
                </div>
                <!-- /키링 -->
              </div>
              <!-- /구매 양식 -->
              <div class="three-block">
                <input type="hidden" name="productNumber" th:value="${product.productNumber}">
                <div class="buy-block">
                  <button class="buy-button">구매하기</button>
                </div>
              </div>
            </div>
          </div>
          <div class="large-box">
            <div id="prod_kategorie_target"></div>
            <div class="kategorie">
              <div class="kategorie_product">
                <a href="#prod_kategorie_target"
                  ><span class="type1">상세정보</span></a
                >
              </div>
              <div class="kategorie_review">
                <a th:href="@{/shop/review(productNumber=${product.productNumber})}"
                  ><span class="type1">구매평</span></a
                >
              </div>
            </div>
            <!-- 상세정보 -->
            <div class="product_info">
              <img
                th:src="@{/images/shop/no-image.png}"
                class="product_info_img"
              />
            </div>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/shop/shop02.js}" defer></script>
  </body>
</html>
