<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/shop/shop02.css}" />
    <script th:src="@{/js/shop/shop02}" defer></script>
  </head>
  <body>
    <div class="body">
      <form action="">
        <div class="body_body">
          <div class="blank"></div>
          <div class="shop_sub_depth">
            <ul class="sub_depth">
              <li>
                <a href="">Home</a><span style="color: #e5e7eb">&gt</span>
              </li>
              <li>
                <a href="">상품</a><span style="color: #e5e7eb">&gt</span>
              </li>
              <li>
                <a href="">가방</a><span style="color: #e5e7eb">&gt</span>
              </li>
              <li><a href="">에코백</a><span></span></li>
            </ul>
          </div>
          <div class="content">
            <div class="content_left">
              <div class="product-img-wrap">
                <img
                  src="/images/shop/no-image.png"
                  class="product-img"
                />
              </div>
            </div>
            <div class="content_right">
              <div class="title-and-price">
                <div class="product-name">
                  <span
                    style="
                      color: rgb(70, 70, 70);
                      font-weight: bold;
                      font-size: 26px;
                    "
                  >
                    리하베스트 그레놀라 오리지널 벌크[2kg]
                  </span>
                </div>
                <div class="product-price">
                  <span style="color: rgb(70, 70, 70); font-size: 20px">
                    2,4000 </span
                  >원
                </div>
              </div>
              <!-- 제품설명 -->
              <div class="product-text-wrap">
                <div class="product-text">
                  <p>
                    귀리와 통밀 등 건강한 재료들을 엄선하여 만든 수제 그래놀라.
                  </p>
                  <p>
                    바삭한 식감과 #고단백고식이섬유 의 풍부한 영양성분으로
                    아침식사 대용이나 간식으로 좋습니다.
                  </p>
                </div>
              </div>
              <!-- 구매해택,배송방법,배송비용 -->
              <div class="product-detail-wrap">
                <div class="product-detail">
                  <div class="detail-text01-wrap">
                    <span class="detail-text01">구매혜택</span>
                  </div>
                  <div class="detail-text02-wrap">
                    <span class="detail-text02">240 적립금 적립예정</span>
                  </div>
                </div>
                <div class="product-detail">
                  <div class="detail-text01-wrap">
                    <span class="detail-text01">배송방법</span>
                  </div>
                  <div class="detail-text02-wrap">
                    <span class="detail-text02">택배</span>
                  </div>
                </div>
                <div class="product-detail">
                  <div class="detail-text01-wrap">
                    <span class="detail-text01">배송비용</span>
                  </div>
                  <div class="detail-text02-wrap">
                    <span class="detail-text02">3,500</span>원
                  </div>
                </div>
              </div>
              <!-- 구매 양식 -->
              <div class="product-option">
                <!-- 코드 빌려오기 -->
                <div class="form-group">
                  <label>주문 양식</label>
                  <div class="gender-wrap">
                    <label for="gender-m" class="gender-box">
                      <span>데님</span>
                      <input
                        type="radio"
                        id="gender-m"
                        name="userGender"
                        value="M"
                      />
                    </label>
                    <label for="gender-f" class="gender-box">
                      <span>가죽</span>
                      <input
                        type="radio"
                        id="gender-f"
                        name="userGender"
                        value="F"
                      />
                    </label>
                    <label for="gender-f" class="gender-box">
                      <span>면</span>
                      <input
                        type="radio"
                        id="gender-f"
                        name="userGender"
                        value="F"
                      />
                    </label>
                  </div>
                </div>
                <!-- /코드 빌려오기 -->
                <!-- 수량 -->
                <div class="order-block">
                  <div class="order_top">
                    <div class="order_top_text-border">
                      <span class="order_top_text">수량</span>
                    </div>
                  </div>
                  <div class="order_bottom">
                    <div class="option-btn-wrap">
                      <div class="option-btn">
                        <input
                          type="text"
                          class="option_amount"
                          placeholder="수량 입력(개)"
                        />
                      </div>
                      <div class="option-price-text"><span>2,4000</span>원</div>
                    </div>
                  </div>
                </div>
                <div class="total-price-border">
                  <p>
                    <span class="total-amount">총 상품금액(1개)</span>
                    <span class="total_price">24,000원</span>
                  </p>
                </div>
                <!-- /수량 -->
                <!-- 키링 -->
                <div class="keyring-text">키링선택</div>
                <div class="keyring_ok">
                  <div class="keyring_left">
                    <input type="checkbox" id="O" name="keyring" />
                    <label for="scales">O</label>
                  </div>

                  <div class="keyring_right">
                    <input type="checkbox" id="X" name="keyring" checked />
                    <label for="horns">X</label>
                  </div>
                </div>
                <!-- /키링 -->
              </div>
              <!-- /구매 양식 -->
              <!-- 구매하기, 공유하기, 좋아요 -->
              <div class="three-block">
                <div class="buy-block">
                  <button class="buy-button">구매하기</button>
                </div>
                <div class="share-block">
                  <a href=""><span class="share">공유하기</span></a>
                </div>
                <div class="heart-block">
                  <a href="">
                    <div class="heart-flex">
                    <img src="/images/shop/heart.png" class="heart_img" alt="">
                    <span class="heart-number">3</span>
                    </div>
                  </a>
                </div>
              </div>
              <!-- /구매하기, 공유하기, 좋아요 -->
            </div>
          </div>
          <!-- 상세정보와 구매평 -->
          <div class="large-box">
            <div id="prod_kategorie_target"></div>
            <div class="kategorie">
              <div class="kategorie_product">
                <a href="#prod_kategorie_target"
                  ><span class="type1">상세정보</span></a
                >
              </div>
              <div class="kategorie_review">
                <a href="#review_kategorie_target"
                  ><span class="type1">구매평</span></a
                >
              </div>
            </div>
            <!-- 상세정보 -->
            <div class="product_info">
              <img
                src="/images/shop/no-image.png"
                class="product_info_img"
              />
            </div>
            <!-- 구매평 -->
            <div id="review_kategorie_target"></div>
            <div class="product_review">
              <div class="review-number-left">
                구매평<span class="review-number">(5)</span>
              </div>
              <div class="review-number-under">
                상품을 구매하신 분들이 작성한 리뷰입니다.
              </div>
              <div class="review-wrap">
                <a href="#none" role="button" class="review-btn-a">
                  <div class="review-btn">구매평 작성</div>
                </a>
                <div class="small-blank"></div>
                <!-- 리뷰 리스트 -->
                <ul class="review-list-wrap">
                  <li class="list-review">
                    <div class="full-box">
                      <div class="full-box-left">
                        <div class="list-review-text">
                          <span class="review-text"
                            >맛은 다른 제품과 다르네요 나쁘지 않은듯</span
                          >
                        </div>
                        <div class="review-img-border">
                          <img
                            src="/images/shop/no-image.png"
                            class="review-img"
                          />
                        </div>
                      </div>
                      <div class="full-box-right">
                        <div>veri****</div>
                        <div>2023-12-02 17:48</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- 페이징 처리 -->
              <div class="page-container">
                <ul class="page-box">
                  <a class="page-a">
                    <li class="page-num prev">&lt</li>
                  </a>

                  <a class="page-a">
                    <li class="page-num">1</li>
                  </a>

                  <a class="page-a">
                    <li class="page-num next">&gt</li>
                  </a>
                </ul>
              </div>
              <!-- /페이징 처리 -->
            </div>
          </div>
          <!-- /상세정보와 구매평 -->
        </div>
      </form>
    </div>
  </body>
</html>
